h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210303022-01-Identificar legislación comercial, tributaria, contable y laboral en la constitución y desarrollo del objeto social del ente económico, de acuerdo con normativa.             