.container
    .header-ecored
        h1 1. Investigación de mercados
    .jumbotron.bg-white
        img.mt-5.img-a(src="assets/images/pages/tema_1/img_1.png").img-fluid

        p.mt-5 Bienvenidos a esta unidad, donde continuaremos fortaleciendo los conceptos relacionados con el área contable y realizaremos un recorrido por la historia de la contabilidad, otorgando gran importancia a las cualidades, objetivos, diseño de políticas contables y criterios de reconocimiento, medición, presentación y revelación de acuerdo con las Normas Internacionales de Información Financiera (NIIF).

        h1.mt-5.color-1 Información contable
        p Para empezar, es importante recordar que existen diferentes tipos de empresas que ofrecen productos y servicios con el fin de satisfacer necesidades de los usuarios; por tanto, deben implementar un sistema contable que permita la evaluación y análisis de la información para la toma de decisiones sobre inversión, rentabilidad y endeudamiento. En consecuencia, existen procesos contables y criterios que deben aplicarse para dar cumplimiento a las NIIF, satisfaciendo, de esta manera, las necesidades de los usuarios en cuanto a la generación de información confiable, comparable, compresible, verificable y oportuna (Cuaspa, 2013).

        h2.mt-5.color-2 Usuarios de la información contable y financiera 
        p Los usuarios son las personas interesadas en conocer la situación financiera de la empresa, entre ellos, encontramos los siguientes (Vilches, 2019):

        .row.justify-content-center.mt-5.my-5
            .col-9.col-md-11
                ul.list-unstyled
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Inversores, accionistas o propietarios.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Administradores.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Proveedores.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Clientes.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Colaboradores.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Entes de control.

        h2.color-2 Campo de acción de la contabilidad o información contable
        p De acuerdo con el tipo de empresa y/o campo de acción, la contabilidad se clasifica de la siguiente manera (Vilches, 2019):

        .row.justify-content-center.mt-5      
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_2.png").img-fluid
                        h2.color-1 Contabilidad pública 
                        p.mt-0 Se ocupa de las transacciones realizadas por entidades del Estado y, por ende, se rigen por las normas que expida la Contaduría General de la Nación.
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_3.png").img-fluid
                        h2.color-1 Contabilidad de servicios 
                        p.mt-0 Se ocupa de las actividades realizadas por empresas que prestan servicios, con el fin de satisfacer necesidades.
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_4.png").img-fluid
                        h2.color-1 Contabilidad comercial 
                        p.mt-0 Se ocupa de las actividades realizadas por empresas que se dedican a la compra y venta de productos.
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_5.png").img-fluid
                        h2.color-1 Contabilidad de costos 
                        p.mt-0 Se ocupa de las actividades realizadas por empresas industriales, que se encargan de transformar materia prima en producto terminado.
            .col-10.col-md-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_6.png").img-fluid
                        h2.color-1 Contabilidad gerencial 
                        p.mt-0 Sirve como apoyo o herramienta para el área administrativa de una empresa, con el fin de aportar a la adecuada toma de decisiones y generación de acciones que permitan la evaluación de desempeño y cumplimiento de objetivos.

        .sub-ecored.color-1.mt-5#tema1_1
            h2 1.1 Historia, cualidades y objetivos de la información contable

        h2.color-2 Historia de la contabilidad (Angulo, 2018; Santos-Cid, 2018):

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid

        p.mt-5 En el año 6000 a.n.e., con el surgimiento de la agricultura, la ganadería y el comercio surgió la necesidad de contabilizar las transacciones de estas actividades. Se tiene evidencia de trueque en el templo rojo de Babilonia hacia el año 5.200 años a.n.e. Las primeras civilizaciones conocían operaciones aritméticas rudimentarias, llegando a crear elementos auxiliares para contar, sumar y restar, utilizando medios muy elementales inicialmente. Luego, desarrollarían medios y prácticas más avanzadas como la creación de monedas como único instrumento de intercambio. También, hay evidencia de que en Babilonia se realizaron registros de ingresos y gastos 3.600 años a.n.e. En la época del imperio egipcio, 2.550 años a.n.e., se sabe de anotaciones contables de operaciones mercantiles del imperio.

        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/tema_1/img_8.png', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema_1/img_9.png', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema_1/img_10.png', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema_1/img_11.png', alt='3')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema_1/img_12.png', alt='4')                          
                                                                            
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next 
    
        h2.color-2.mt-5 Objetivos de la información contable

        p Según el Consejo de Normas Internacionales de Contabilidad (2018), el objetivo de la información financiera es “Proporcionar información financiera sobre la entidad que informa que sea útil a los inversores, prestamistas y otros acreedores existentes y potenciales para tomar decisiones sobre el suministro de recursos a la entidad. Esas decisiones conllevan, comprar, vender o mantener patrimonio e instrumentos de deuda, y proporcionar o liquidar préstamos y otras formas de crédito” (p. 10).

        .row.justify-content-center.mt-5.no-margin
            .col-12.col-md-10.mb-10
                    
                section

                    a(href="http://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-organismos-internacionales/enmiendas-iasb-emitidas-en-2018/5-c-marco-conceptual-para-la" target="_blank").media-link.color-3      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Con el fin de ampliar sus conocimientos sobre la temática, por favor revise el Marco Conceptual para la Información Financiera (Consejo de Normas Internacionales de Contabilidad, 2018)

        h2.color-2.mt-5 Información contable
        p Las cualidades de la información contable hacen referencia a las características que debe tener la contabilidad, con el fin de ser útil para los usuarios; entre ellos, los inversores, pues su objetivo radica en obtener información comparable, verificable y oportuna para la toma de decisiones.

        p Según el Consejo de Normas Internacionales de Contabilidad (2018), las características cualitativas fundamentales y de mejora son:

        .row.justify-content-center.mt-5
            .col-md-6.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Relevancia
                    .card-body(style="min-height: 140px")
                    
                        p También denominado materialidad o importancia relativa, hace referencia al reconocimiento o no de un hecho económico, el cual puede afectar significativamente la toma de decisiones.  

            .col-md-6.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Representación fiel
                    .card-body(style="min-height: 140px")
                    
                        p La información debe estar completa de acuerdo con los hechos económicos presentados. Así mismo, debe ser neutral y objetiva, evitando los sesgos en la información presentada y garantizando que esté libre de error. 


        .header-arrow 
            h3.text-center Características de mejora

        .row.justify-content-center.mt-5      
            .col-10.col-md-10
                .card-media.color-3 
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_13.png").img-fluid
                        h2.color-1 Comparabilidad 
                        p.mt-0 Se refiere a la comparación que se realiza con otras entidades con información similar o con la misma entidad en diferentes periodos.
            .col-10.col-md-10
                .card-media.color-3 
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_14.png").img-fluid
                        h2.color-1 Verificabilidad 
                        p.mt-0 Es la representación fiel de los hechos económicos, a partir de la revisión del registro de las operaciones y los procesos mediante la observación directa.
            .col-10.col-md-10
                .card-media.color-3 
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_15.png").img-fluid
                        h2.color-1 Oportunidad 
                        p.mt-0 Consiste en obtener la información en el momento adecuado para la toma de decisiones, por ende, debe estar actualizada.
            .col-10.col-md-10
                .card-media.color-3 
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid
                        h2.color-1 Comprensibilidad 
                        p.mt-0 La información debe ser clara y concisa, garantizando ser comprensible para los diferentes usuarios.

        p Para que la información sea útil es importante dar aplicabilidad a las características fundamentales y de mejora simultáneamente, esto garantiza que la información cumpla con los estándares exigidos y contribuya con la toma decisiones.


        .sub-ecored.color-1.mt-5#tema1_2
            h2 1.2 Marco conceptual bajo estándares internacionales

        p El Consejo de Normas Internacionales de Contabilidad (2018), establece los criterios que se tienen en cuenta para el registro de los hechos económicos y plantea los propósitos del Marco Conceptual para la Información Financiera:

        .row.justify-content-center.mt-5      
            .col-10.col-md-8
                ul.ul1 
                    li
                        p Ayudar al Consejo de Normas Internacionales de Contabilidad (Consejo) a desarrollar Normas NIIF (Normas) que estén basadas en conceptos congruentes (p. 8). 
                        hr.border-color-primary.border-2
                    li
                        p Asistir a los preparadores para desarrollar políticas contables congruentes cuando no es aplicable ninguna Norma a una transacción específica u otro suceso, o cuando una Norma permite una opción de política contable (p. 8). 
                        hr.border-color-primary.border-2
                    li
                        p Ayudar a todas las partes a comprender e interpretar las Normas (p.8).
                        hr.border-color-primary.border-2

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_17.png").img-fluid

        p.mt-5 El Marco Conceptual para la Información Financiera fue expedido inicialmente en 1989 por el Comité de Normas Internacionales de Contabilidad (IASC). Posteriormente, fue ampliado por la junta internacional de normas de contabilidad (IASB) y publicado en septiembre de 2010, donde permanece el documento inicial y se registran otras novedades. Fue revisado, modificado y emitido una vez más el 29 de marzo de 2018, con el fin de realizar mejoras al documento en cuanto a conceptos de reconocimiento, medición, presentación y revelación en la aplicación contable. Estas últimas disposiciones comenzaron a implementarse a partir del 1 de enero de 2020.

        p La relación entre objetivos, características y elementos de los estados financieros de propósito general es importante para la generación de información comparativa que contribuya con la toma de decisiones (Consejo de Normas Internacionales de Contabilidad, 2018).

        p Entre los estados financieros se encuentran:

        .row.justify-content-center.mt-5.my-5
            .col-9.col-md-11
                ul.list-unstyled
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Estado de situación financiera.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Estado de resultados integral.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Estado de cambio en el patrimonio.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Estado de flujos de efectivo.
                    li.justify-content-center
                        i.fa.fa-angle-right.fa-lg.mr-3.text-.color-1
                        | Notas a los estados financieros.

        h2.color-2 Elementos de los estados financieros
        p El Estado de situación financiera refleja la información de los elementos de activo, pasivo y patrimonio, los cuales se detallan en el #[strong Marco Conceptual de Información Financiera y en la Norma Internacional de Contabilidad (NIC)], de la siguiente manera:

        .row.justify-content-center.mt-5

            .col-md-4.my-6.my-md-0

                .card.color-3.mt-5(style="min-height: 260px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_18.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.color-1.text-center Definición de activo
                                                
                        p.text-center Es un recurso económico presente controlado por la entidad como resultado de sucesos pasados, que tiene el potencial de producir beneficios económicos.



            .col-md-4.my-6.my-md-0

                .card.color-3.mt-5(style="min-height: 260px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_18.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.color-1.text-center Definición de pasivo
                            p.text-center Es una obligación presente de la entidad de transferir un recurso económico como resultado de sucesos pasados.



            .col-12.col-md-4.my-6.my-md-0

                .card.color-3.mt-5(style="min-height: 260px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_18.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.color-1.text-center Definición de patrimonio
                            p.text-center Es la parte residual de los activos de la entidad, una vez deducidos todos sus pasivos.

        p En el estado de resultados integral, se encuentran los elementos de ingresos y gastos (Consejo de Normas Internacionales de Contabilidad, 2018): 

        .row.justify-content-center.mt-5

            .col-md-4.my-6.my-md-0

                .card.color-4.mt-5(style="min-height: 260px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_19.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.text-center Definición de ingresos
                                                
                        p.text-center Son incrementos en los activos o disminuciones en los pasivos que dan lugar a incrementos en el patrimonio, distintos de los relacionados con aportaciones de los tenedores de derechos sobre el patrimonio



            .col-md-4.my-6.my-md-0

                .card.color-4.mt-5(style="min-height: 260px")
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_19.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.text-center Definición de gastos
                            p.text-center Disminuciones en los activos o incrementos en los pasivos que dan lugar a disminuciones en el patrimonio, distintos de los relacionados con distribuciones de los tenedores de derechos sobre el patrimonio.

        .row.justify-content-center.mt-5.no-margin
            .col-12.col-md-10.mb-10
                    
                section

                    a(href="http://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-organismos-internacionales/enmiendas-iasb-emitidas-en-2018/5-c-marco-conceptual-para-la" target="_blank").media-link.color-3      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Con el fin de ampliar sus conocimientos sobre la temática, por favor revise el Marco Conceptual para la Información Financiera (Consejo de Normas Internacionales de Contabilidad, 2018)

        .sub-ecored.color-1.mt-5#tema1_3
            h2 1.3 Reconocimiento, medición, presentación, revelación y baja de cuentas de los elementos de los estados financieros

            img.img-a(src="assets/images/pages/tema_1/img_20.png").img-fluid

        p.mt-5 Se relacionan los criterios de reconocimiento de los elementos de los estados financieros, teniendo en cuenta, para su registro, las cualidades fundamentales de materialidad relativa y representación fiel; aunado a ello, expresa la baja de cuentas cuando los elementos de los estados financieros no cumplen con la definición establecida; por lo tanto, se realiza una eliminación parcial o total de dichas cuentas (Consejo de Normas Internacionales de Contabilidad, 2018).

        h2.color-2 Reconocimiento

        p Se refiera al proceso de registrar los hechos económicos generados en el transcurso normal de las operaciones de la empresa, los cuales se verán reflejados en los estados financieros una vez se verifica que cumplan con el concepto de sus elementos.

        p Cabe resaltar que un activo, pasivo o patrimonio, para ser reconocido en el estado de situación financiera, debe cumplir con su respectiva definición, atendiendo a las características que se establecen. De igual forma, los ingresos y gastos se reconocerán en el estado de resultados integral solamente si cumplen con la definición respectiva. En consecuencia, el reconocimiento de un activo y un pasivo genera simultáneamente el reconocimiento de un ingreso y un gasto, teniendo en cuenta la transacción realizada. Esto es denominado ocasionalmente correlacional de costos e ingresos; por ejemplo, suele presentarse en la venta de bienes y/o servicios donde se reconoce el ingreso por actividades ordinarias y a su vez el activo (efectivo).

        h2.color-2 Baja en cuentas

        p Cuando se habla de baja, en cuentas de un activo o un pasivo, se hace referencia a la eliminación total o parcial de este elemento a partir de dos situaciones posibles:

        .row.mt-5      
            .col-12.col-md-6
                .card.color-4
                    .card-body
                        p #[strong a.] Que la empresa pierda el control del activo reconocido.        
        .row
            .col-12.col-md-6
                .card.color-3
                    .card-body
                        p #[strong b.] Que la empresa deja de tener una obligación presente.  

        p El principal objetivo de dar de baja las cuentas es reflejar la realidad económica de la empresa, donde se registran los elementos que cumplan los criterios de reconocimiento y medición, con el fin de que sean reflejados en los estados financieros y, en consecuencia, se genere información útil, relevante y oportuna.

        .jumbotron.color-6
            h2.color-2 Medición
            img.img-a(src="assets/images/pages/tema_1/img_21.png").img-fluid

            p.mt-5 A continuación, se describen las bases, características, factores y técnicas para tener en cuenta al momento de realizar la medición de un elemento de los estados financieros (Consejo de Normas Internacionales de Contabilidad, 2018).

            h2.color-2 Bases de medición

            p La base de medición es la cuantificación en términos monetarios de los elementos de los estados financieros. De acuerdo con las políticas y lineamientos normativos se presentan diferentes bases, por ello, es importante seleccionar la base de medición más adecuada para presentar la información financiera atendiendo a los estándares internacionales (Consejo de Normas Internacionales de Contabilidad, 2018):

            .row.justify-content-center.mt-5.my-5
                .col-9.col-md-11
                    ul.list-unstyled
                        li.justify-content-center.color-7 
                            i.fa.fa-angle-right.fa-lg.mr-3.text-.color-7 
                            | #[strong Costo histórico]    
                        p Es el precio de transacción, el valor de adquisición, de compra o creación de un activo. Es el valor de la contraprestación recibida al obtener el pasivo.
                        li.justify-content-center.color-7 
                            i.fa.fa-angle-right.fa-lg.mr-3.text-.color-7 
                            | #[strong Valor corriente]    
                        p “Las mediciones del valor corriente proporcionan información monetaria sobre activos, pasivos, e ingresos y gastos relacionados, usando información actualizada para reflejar las condiciones en la fecha de medición. Debido a la continua actualización, los valores corrientes de activos y pasivos reflejan los cambios, desde la fecha de medición anterior, en las estimaciones de flujos de efectivo y otros factores reflejados en los valores corrientes” (Consejo de Normas Internacionales de Contabilidad, 2018. p. 44).
                        li.justify-content-center.color-7 
                            i.fa.fa-angle-right.fa-lg.mr-3.text-.color-7 
                            | #[strong Valor razonable]    
                        p “Valor razonable es el precio que se recibiría por vender un activo o que se pagaría por transferir un pasivo en una transacción ordenada entre participantes de mercado, en la fecha de la medición” (Consejo de Normas Internacionales de Contabilidad, 2018. p. 44).
                        li.justify-content-center.color-7 
                            i.fa.fa-angle-right.fa-lg.mr-3.text-.color-7 
                            | #[strong Valor en uso y valor de cumplimiento]    
                        p “El valor en uso es el valor presente de los flujos de efectivo, o de otros beneficios económicos, que una entidad espera obtener del uso de un activo y de su disposición final. El valor de cumplimiento es el valor presente de los flujos de efectivo o de otros beneficios económicos, que una entidad espera verse obligada a transferir a medida que satisface un pasivo” (Consejo de Normas Internacionales de Contabilidad, 2018. p. 45).
                        li.justify-content-center.color-7 
                            i.fa.fa-angle-right.fa-lg.mr-3.text-.color-7 
                            | #[strong Costo corriente]    
                        p “El costo corriente de un activo es el costo de un activo equivalente en la fecha de medición, que comprende la contraprestación que se pagaría en la fecha de medición más los costos de transacción en los que se incurriría en esa fecha” (Consejo de Normas Internacionales de Contabilidad, 2018. p. 45).

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                    
                section

                    a(href="http://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-organismos-internacionales/enmiendas-iasb-emitidas-en-2018/5-c-marco-conceptual-para-la" target="_blank").media-link.color-3      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Con el fin de ampliar sus conocimientos sobre la temática, por favor revise el Marco Conceptual para la Información Financiera (Consejo de Normas Internacionales de Contabilidad, 2018)

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_22.png").img-fluid

        p.mt-5 Para seleccionar las bases de medición, que se relacionarán en el Manual de políticas contables, es fundamental analizar el tipo de empresa y su entorno, tendiendo en cuenta las circunstancias y eventos que se generen para determinar lo más adecuado para la organización. Aunado a ello, se tiene en cuenta el concepto y características de los elementos de los estados financieros, las cualidades fundamentales y de mejora.

        p Es de suma importancia presentar información financiera confiable, oportuna, comprensible y comparable, con el fin de facilitar la toma de decisiones a la gerencia:

        p “La comunicación efectiva de la información de los estados financieros requiere: (a) centrarse en los objetivos y principios de presentación e información a revelar en lugar de centrarse en reglas; (b) clasificar la información de forma que agrupe las partidas similares juntas y las diferentes de forma separada; y (c) agregar información de forma que no se ensombrezca con detalles innecesarios o agregación excesiva” (Consejo de Normas Internacionales de Contabilidad, 2018).

        .sub-ecored.color-1.mt-5#tema1_4
            h2 1.4 Política contable

            img.img-a(src="assets/images/pages/tema_1/img_23.png").img-fluid 

        p.mt-5 Las políticas contables son las normas, bases, reglas y procedimientos que diseña e implementa la empresa para aplicar los criterios de reconocimiento, medición, presentación y revelación de los elementos de los estados financieros: activo, pasivo, patrimonio, ingresos y gastos. Finalmente, con su ejecución, se generan los estados financieros de propósito general; por ende, requiere de cuidado, análisis y adecuada aplicación con el fin de que los procedimientos establecidos sean acordes con los estándares internacionales (Cuaspa, 2013; Vilches, 2019; Angulo, 2018).

        p Es importante resaltar que las políticas contables se generan de acuerdo con el tipo de empresa y su entorno. Deben adaptarse a situaciones particulares de acuerdo con la dinámica del negocio. Son preparadas por la gerencia o área administrativa, teniendo en cuenta que son los usuarios que mayor conocimiento tienen de la empresa. Esto permitirá crear lineamientos adecuados para la presentación y revelación de estados financieros. Sin embargo, la gerencia y el área administrativa pueden contar con la asesoría del contador público para el diseño de las políticas o, en su defecto, establecer el grupo que puede participar en su elaboración.

        .jumbotron.color-4
            p Para diseñar las políticas contables es importante identificar el grupo de presentación de información financiera: Grupo 1-NIIF plenas, Grupo 2-NIIF Pymes, Grupo 3– NIF Microempresas. Según los lineamientos del Decreto Único Reglamentario -DUR- 2420 de 2015, el grupo 1, posee las siguientes características:
            hr.color-2.border-2

            p.header-step
            span.color-2 #[strong a.]
            span.header-step-title
                | Emisores de valores. Entidades y negocios fiduciarios que tengan valores inscritos en el Registro Nacional de Valores y Emisores – RNVE en los términos del artículo 1.1. 1. 1. 1. del Decreto 2555 de 2010.
            hr.color-2.border-2
            p.header-step
            span.color-2 #[strong b.]
            span.header-step-title
                | Entidades y negocios de interés público.
            hr.color-2.border-2
            p.header-step
            span.color-2 #[strong c.]
            span.header-step-title
                | Entidades que no estén en los literales anteriores, que cuenten con una planta de personal mayor a 200 trabajadores o con activos totales superiores a 30.000 salarios mínimos mensuales legales vigentes (SMMLV) y que, adicionalmente, cumplan con cualquiera de los siguientes parámetros:
            hr.color-2.border-2

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_24.png").img-fluid
                .col
                    ul
                        li 
                            P Ser subordinada o sucursal de una compañía extranjera que aplique NIIF plenas.

                        li 
                            p Ser subordinada o matriz de una compañía nacional que deba aplicar NIIF plenas.

                        li
                            p Ser matriz, asociada o negocio conjunto de una o más entidades extranjeras que apliquen NIIF plenas.

                        li
                            p Realizar importaciones o exportaciones que representen más del 50% de las compras o de las ventas respectivamente. 

        .row.justify-content-center.mt-5
            .col-md-10.my-6.my-md-0
                .card.color-6.mt-5
                    .card-body.text-center
                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_1/img_25.png").img-fluid
                        p
                        | Para elaborar las políticas del grupo 1 de empresas se tienen en cuenta los lineamientos estipulados en la Norma Internacional de Contabilidad (NIC 8), la cual expresa:

        
        .row.justify-content-center.mt-5
            .col-md-6.my-6.my-md-0
                .card.color-6.mt-5
                    .header-arrow-1 
                        h2.text-center Objetivo
                    .card-body(style="min-height: 340px")
                    
                        p #[strong 1.] El objetivo de esta norma es prescribir los criterios para seleccionar y modificar las políticas contables, así como el tratamiento contable y la información a revelar acerca de los cambios en las políticas contables, de los cambios en las estimaciones contables y de la corrección de errores. La Norma trata de realzar la relevancia y fiabilidad de los estados financieros de una entidad, así como la comparabilidad con los estados financieros emitidos por ésta en periodos anteriores, y con los elaborados por otras entidades. 

                        p #[strong 2.] Los requerimientos de información a revelar relativos a políticas contables, excepto los referentes a cambios en las políticas contables han sido establecidos en la Norma Internacional de Contabilidad (NIC 1).  

            .col-md-6.my-6.my-md-0
                .card.color-6.mt-5
                    .header-arrow-1 
                        h2.text-center Alcance
                    .card-body(style="min-height: 340px")
                    
                        p #[strong 3.] Esta norma se aplicará en la selección y aplicación de políticas contables, así como en la contabilización de los cambios en estas, los cambios en las estimaciones contables y en la corrección de errores de periodos anteriores. 

                        p #[strong 4.] El efecto impositivo de la corrección de los errores de periodos anteriores, así como de los ajustes retroactivos efectuados al realizar cambios en las políticas contables se contabilizará de acuerdo con la Norma Internacional de Contabilidad (NIC 12), y se revelará la información requerida por esta norma. 

        .row.justify-content-center.mt-5.no-margin
            .col-12.col-md-10.mb-10
                    
                section

                    a(href="http://www.ctcp.gov.co/proyectos/contabilidad-e-informacion-financiera/documentos-organismos-internacionales/compilacion-marcos-tecnicos-de-informacion-financi/1534369239-2962" target="_blank").media-link.color-3      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Con el fin de ampliar sus conocimientos sobre la temática, por favor revise la Norma Internacional de Contabilidad -NIC 8- (Consejo Técnico de la Contaduría Pública -CTCP-, 2010)

        h2.mt-5.color-2 Elementos

        p Para elaborar las políticas de la empresa es importante tener en cuenta

        .row.justify-content-center.mt-5.my-5
            .col-9.col-md-11
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 1
                    span.header-step-title
                        | Identificar el direccionamiento estratégico de la empresa: misión, visión, políticas, objetivos, principios, etc.
                hr.border-color-primary.border-2    
                p.header-step
                    span.header-step-number.text-color-info 2
                    span.header-step-title
                        | Analizar el entorno en el cual se desenvuelve y, de esta manera, determinar el tipo de transacciones y la importancia relativa.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 3
                    span.header-step-title
                        | Conocer e interpretar las Normas Internacionales de Información Financiera. De acuerdo con el grupo se aplicarán NIIF plenas, NIIF PYMES y microempresas.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 4
                    span.header-step-title
                        | Establecer las bases de reconocimiento, medición, presentación y revelación de los estados financieros, teniendo en cuenta los estándares internacionales y la dinámica del negocio.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 5
                    span.header-step-title
                        | Poseer el compendio de los estados financieros de propósito general.
                hr.border-color-primary.border-2

        p Una vez se tiene claridad de la información, es importante iniciar con el diseño del manual de políticas contables. Para ello, se relacionan los siguientes elementos (Warren, Reeves y Duchac, 2016; Santos-Cid, 2018; Vilches, 2019; Angulo, 2018):

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_26.png").img-fluid

        .row.justify-content-center.mt-5.my-5
            .col-9.col-md-11
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 1.
                    span.header-step-title
                        | Información de la empresa: se presenta la reseña histórica, direccionamiento estratégico, objeto social, proveedores, clientes, recursos.
                hr.border-color-primary.border-2    
                p.header-step
                    span.header-step-number.text-color-info 2.
                    span.header-step-title
                        | Marco normativo aplicable.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 3.
                    span.header-step-title
                        | Identificación y análisis de los requisitos del grupo de presentación de información financiera.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 4.
                    span.header-step-title
                        | Importancia del diseño e implementación.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 5.
                    span.header-step-title
                        | Responsabilidades del cargo, de quien prepara el manual de políticas contables.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 6.
                    span.header-step-title
                        | Definiciones.
                hr.border-color-primary.border-2    
                p.header-step
                    span.header-step-number.text-color-info 7.
                    span.header-step-title
                        | Objetivo del manual.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 8.
                    span.header-step-title
                        | Alcance.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 9.
                    span.header-step-title
                        | Análisis de las características fundamentales y de mejora.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 10.
                    span.header-step-title
                        | Definición de los elementos y cuentas de los elementos de los estados financieros.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number.text-color-info 11.
                    span.header-step-title
                        | Reconocimiento de las cuentas de activo, pasivo, patrimonio, ingresos y gastos. Es importante desarrollarlo detalladamente, siendo descriptivo en las bases que se establecen de acuerdo con lo estipulado en la norma internacional, desagregando cada una de las cuentas.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 12.
                    span.header-step-title
                        | Medición inicial y posterior de cada una de las cuentas pertenecientes a los elementos de los estados financieros.
                hr.border-color-primary.border-2
                p.header-step
                    span.header-step-number 13.
                    span.header-step-title
                        | Presentación y revelación de los estados financieros.
                hr.border-color-primary.border-2
                
        img.mt-5.img-a(src="assets/images/pages/tema_1/img_27.png").img-fluid

        


