.container
    .header-ecored
        h1 3. Manejo de Software para estadística.
    .jumbotron.bg-white
       img.mt-5.img-a(src="assets/images/pages/tema_3/img_1.png").img-fluid

       p.mt-5 Se debe tener en cuenta el software licenciado que tiene el Sena el más indicado es el SPSS. Se debe incorporar un manual de uso del programa SPSS (Statistical Package for the Social Sciences) (SPSS, Inc.) para la tabulación, tratamiento y análisis de los datos. 

       p De igual manera, usted puede utilizar otro software para el tratamiento de los datos estadísticos.

       ul.list-unstyled
            li.justify-content-center
                i.fa.fa-angle-right.fa-lg.mr-3.text-color-orange
                | Inversores, accionistas o propietarios.