//Colores base del material de formación
$brand-color-dark: #D9A171;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light:#A66D58;
$text-color-light: $primary;
$brand-color-secondary: #00232B;

